.card_detail{
    border : 1px solid rgb(35, 34, 34);
    border-radius: 5px;
    padding: 30px,0 ,0,-45px !important;
}
.card_price{
    background-color: rgb(230, 184, 36);
    width: auto;
    height: 30vh !important;
}